DATABASE_URL = "postgresql://postgres:123456@db.abcdefgijklmnop.supabase.co:5432/postgres"
EMAIL_SERVER_USER = "email@gmail.com"
EMAIL_SERVER_PASSWORD = "aaaa aaaa aaaa aaaa"
EMAIL_SERVER_HOST = "smtp.gmail.com"
EMAIL_SERVER_PORT = 587
EMAIL_FROM = "email@gmail.com"